@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.pageHome {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .mailLink {
    a {
      h3 {
        color: $text-color-dark;
      }
      position: absolute;
      left: 10px;
      bottom: 0px;
      @include mq($desktop) {
        bottom: 50%;
      }
    }
  }
  .resume {
    a {
      h3 {
        color: $text-color-dark;
      }

      position: absolute;
      right: 10px;
      bottom: 0px;
      @include mq($desktop) {
        bottom: 50%;
      }
    }
  }
  .iconLinks {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      color: $text-color-dark;
      margin: 10px;
    }
  }
  .textBlock {
    border: 3px solid black;
    border-bottom: none;
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 0 5px 40px rgba(255, 0, 0, 0.2);
    .text {
      padding: 50px;
      p {
        max-width: 100%;
        @include mq($desktop) {
          max-width: 50%;
        }
      }
    }
  }
  .animatedImage {
    border: 3px solid black;
    box-shadow: 0 5px 40px rgba(255, 0, 0, 0.2);
    width: 80%;
    height: 40vh;
    position: relative;

    :nth-child(1) {
      width: 10%;
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
    :nth-child(2) {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      height: 130%;
      left: 50%;
    }
  }
  @include mq($tablet) {
    flex-direction: row;
    .animatedImage {
      width: 40%;
    }
    .textBlock {
      width: 40%;
    }
  }
}
