.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: rgb(128, 230, 250);
  background: radial-gradient(
    circle,
    rgba(128, 230, 250, 1) 0%,
    rgba(253, 254, 255, 1) 100%
  );
}
